{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Box Office Events</h1>
<div class="content">
    <ol class="breadcrumb">
      <li><a href="{% url 'box_office' %}">Box Office</a></li>
      <li><a href="{% url 'box_office_events' %}">Events</a></li>
      <li class="active">Delete</li>
    </ol>
    <div class="col-sm-8 col-sm-offset-2">
        {% load crispy_forms_tags %}
        <form class="form-horizontal" method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete this event?</p>
            <p>{{ event.name }}</p>
            <a class="btn btn-success" href="{% url 'box_office_events' %}">Go Back</a>
            <input class="btn btn-danger" type="submit" value="Delete">
        </form>
    </div>
</div>
{% endblock %}