{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Box Office Events</h1>
<div class="content">
    <ol class="breadcrumb">
      <li><a href="{% url 'box_office' %}">Box Office</a></li>
      <li><a href="{% url 'box_office_events' %}">Events</a></li>
      <li class="active">Edit/Create</li>
    </ol>
    <div class="col-sm-8 col-sm-offset-2">
        {% load crispy_forms_tags %}
        <form class="form-horizontal" method="post">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
</div>
{% endblock %}