{% extends 'base.html' %}
{% block content %}
<h1>Event Schedule</h1>
    {% for event in events %}
        <div class="col-xs-12 well">
            <div class="col-sm-3">
                <img src="{{ event.image_url }}" alt="{{ event.name}}" />
            </div>
            <div class="col-sm-9">
                <h3>{{ event.name|title }}</h3>
                <p>{{ event.date }}</p>
                <p>{{ event.inforamtion }}</p>
                <a href="{% url 'buy' event.id %}" class="btn btn-primary">Buy tickets</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
